mixin aside
    aside(class="col-sm-4")
        form
            input(id="search" class="form-control" placeholder="Search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'")
            div(class="aside-title")
                h2
                    | Latest Posts
            ul
                li
                    h3
                        | Article 1
                    p
                        | Some text
                li
                    h3
                        | Article 2
                    p
                        | Some text
                li
                    
                    h3
                        | Article 3
                    p
                        | Some text  
            div(class="aside-title")
                h2
                    | Categories