mixin aside
    aside(class="col-sm-4")
        form
            input(id="search" class="form-control" placeholder="Search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'")
        div(class="aside-title")
            h2
                | Latest Posts
        ul
            li
                div(class="grid-wrapper")
                    div(class="left-grid")
                        img(src="http://e-lect.net/wp-content/uploads/2015/06/Time-to-Get-Perfect.jpg" class="img-fluid")
                    div(class="right-grid")
                        h3
                            a(href="/1")
                                | First Article Title
                        p
                            | Some text
            li
                div(class="grid-wrapper")
                    div(class="left-grid")
                        img(src="http://e-lect.net/wp-content/uploads/2015/06/Smart-Training.jpg" class="img-fluid")
                    div(class="right-grid")
                        h3
                            a(href="/2")
                                | Second Article Title
                        p
                            | Some text
            li
                div(class="grid-wrapper")
                    div(class="left-grid")
                        img(src="http://e-lect.net/wp-content/uploads/2016/08/Millionaire.jpg" class="img-fluid")
                    div(class="right-grid")      
                        h3
                            a(href="/3")
                                | Third Article Title
                        p
                            | Some text  
        div(class="aside-title")
            h2
                | Categories
        ul
            li
                h3
                    | Category 1
                p
                    | Some text
            li
                h3
                    | Category 2
                p
                    | Some text
            li
                h3
                    | Category 3
                p
                    | Some text