mixin aside
    aside(class="col-sm-4")
        form
            input(id="search" class="form-control" placeholder="Search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'")
        div(class="aside-title")
            h2
                | Latest Posts
        ul
            each post in model
                li
                    div(class="grid-wrapper")
                        div(class="left-grid")
                            img(src=post.url class="img-fluid")
                        div(class="right-grid")
                            h3
                                a(href=post.id)
                                    =post.title
                            p
                                | Some text 
        div(class="aside-title")
            h2
                | Categories
        ul
            li
                h3
                    | Category 1
                p
                    | Some text
            li
                h3
                    | Category 2
                p
                    | Some text
            li
                h3
                    | Category 3
                p
                    | Some text