mixin dashheader
    header(id="head-section" class="container")
        div(class="row")
            div(class="col-sm-5")
                h1(id="logo")
                    a(href="/dashboard/" + user._id)
                        ="Welcome " + user.username + "!"
            div(class="col-sm-5")
                form(id="search-form")
                    input(id="search" class="form-control" placeholder="Search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'")
            div(class="col-sm-2")
                div(id="dropdown" class="dropdown")
                    a(id="dropdown-btn" href="#" class="dropdown-toggle" data-toggle="dropdown")
                        | My Account
                        span(class="caret")
                    ul(id="dropdown-menu" class="dropdown-menu")
                        li
                            a(href="/profile")
                                | Profile
                        li
                            a(id="logout-button" href="/logout")
                                | Logout