mixin editor_navigation
    div(class="col-sm-2")
        nav(id="navigation")
            ul
                li
                    a(href="/dashboard/" + user._id)
                        | Dashboard
                li
                    a(href="#")
                        | My Profile
                li
                    a(href="#")
                        | My Articles
                li
                    a(href="/editor")
                        | Editor