extends shared/_master

block body
    div(id="error-page")
        h1
            | 404 PAGE NOT FOUND
        p
            | Sorry, but the page you are looking for could not be found.
        a(class="button" href='/')
            | Back to Home
