extends shared/_dashmaster
include shared/_dashboard_navigation

block body
    main(class="row")
        +dashboard_navigation
        div(class="col-sm-10")
            div(id="article-page")
                h1
                    | My Articles:
                each post in user.posts
                    div(class="post-container row")
                        div(class="col-sm-4")
                            a(href="/post/" + post._id)
                                img(src=post.url class="img-responsive post-img")
                        div(class="col-sm-6")
                            h2(id="article-title" class="post-title")
                                a(href="/post/" + post._id)
                                    = post.title
                            p(class="post")
                                = post.content
                        div(class="col-sm-2")
                            a(href="#" class="button")
                                | Delete post
                            a(href="/editor" class="button")
                                | Update post