extends shared/_master
include shared/_aside

block body
    div(id="main-content" class="container")
        div(class="row")
            main(id="main-category" class="col-sm-8")
                    each post in category
                        div
                            img(src=post.url class="img-responsive cat-img")
                            h2
                                a(href=post.id)
                                    =post.title
                            p
                                =post.content[0]
            +aside(model)
        