extends shared/_master

block body
    div(id="contact-page")
        div(class="row")
            div(class="col-sm-6")
                h2(id="form-title" class="form-title")
                    | CONTACT FORM
                form(id="contact-form" class="form-group" method="post")
                    input(class="form-control" type="text" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" name="name" pattern="[A-Za-z]{2,20}" title="Name should be between 2 and 20 letters long" required)
                    input(class="form-control" type="email" placeholder="E-mail Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail Address'" name="e-mail address" required)
                    input(class="form-control" type="text" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'" name="subject" pattern="[A-Za-z0-9 .!?@\\-]{4,20}" title="Subject should be between 4 and 20 symbols long" required)
                    textarea(class="form-control" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" name="message" required)
                    button(class="button" type="submit") 
                        | Submit
            div(class="col-sm-6")
                h2(class="form-title")
                    | CONTACT INFORMATION
