extends shared/_master
include shared/_navigation
include shared/_footer

block body
    +navigation
    div(id="contact-page")
        div(class="row")
            div(class="col-sm-8")
                h2
                    | Contact Form
            div(class="col-sm-4")
                h2
                    | Contact Information
    +footer