extends shared/_master
include shared/_navigation
include shared/_footer

block body
    +navigation
    div(id="contact-page")
        div(class="row")
            div(class="col-sm-8")
                h2(id="form-title" class="form-title")
                    | Contact Form
                form(id="contact-form" class="form-group")
                    input(class="form-control" type="text" placeholder="Name")
                    input(class="form-control" type="email" placeholder="E-mail Address")
                    input(class="form-control" type="text" placeholder="Subject")
                    textarea(class="form-control" placeholder="Message")
            div(class="col-sm-4")
                h2(class="form-title")
                    | Contact Information
    +footer