extends shared/_master

block body
    div
        form
            input(placeholder="Title" style="display:block")
            input(placeholder="Categories" style="display:block")
            input(placeholder="Tags" style="display:block")
            textarea(placeholder="Text" style="display:block")
