extends shared/_master

block body
    div
        form(action="/dashboard" method='post')
            input(name="title" placeholder="Title" style="display:block")
            input(name="categories" placeholder="Categories" style="display:block")
            input(name="tags" placeholder="Tags" style="display:block")
            textarea(name="text" placeholder="Text" style="display:block")
            button(type="submit")
                | Submit
