extends shared/_dashmaster
include shared/_editor_navigation

block body
    main(class="row")
    +editor_navigation
    div(class="col-sm-10")
        div(id="editor" )
            h1
                | Add a New Post
            form(action="/edit" method='post' enctype="multipart/form-data")
                input(id="title" name="title" placeholder="Enter the post title here")
                div
                    label(for="file" class="button")
                        | Add Media
                    input(id="file" type="file" name="file" placeholder="Add Media")
                    input(id="category" name="category" placeholder="Enter the post category here")
                    input(id="tags" name="tags" placeholder="Enter the post tags here")
                textarea(name="content" placeholder="Text")
                div
                    button(class="button" type="submit")
                        | Submit