extends shared/_master
include shared/_navigation
include shared/_aside
include shared/_footer

block body
    +navigation
    div(id="main-content" class="container")
        div(class="row")
            main(class="col-sm-8")
                | Some text
            +aside
    +footer
                    