extends shared/_master
include shared/_aside

block body
    div(id="main-content" class="container")
        div(class="row")
            main(class="col-sm-8")
                each post in model
                    div(class="thumbnail slide")
                        a(href=post.id)
                            img(src=post.url class="img-responsive slide-img")
                            div(class="caption")
                                h2
                                    =post.title 
                                p
                                    =post.content[0]
                div(id="left-col" class="col-sm-6")
                    h2
                    | Fourth Article Title
                    h2
                    | Sixth Article Title
                div(id="right-col" class="col-sm-6")
                    h2
                    | Fifth Article Title
                    h2
                    | Seventh Article Title
            +aside(model)
                    