extends shared/_master
include shared/_navigation
include shared/_aside

block body
    +navigation
    div(id="main-content" class="container")
        div(class="row")
            main(class="col-sm-9")
                | Some text
            +aside
                    