extends shared/_master

block body
    header(id="header", class="container")
        div(class="row")
            div(class="col-sm-4")  
                | Home
            div(id="right-header" class="col-sm-8")
                | Some Text