extends shared/_master

block body
    div(id="login-page" class="container")
        div(class="row")
            div(id="logup-div" class="col-sm-6")
                h2(class="login-form-title")
                    | NEW 
                p(class="login-form-text")
                    | Please, create an account by using the button below!
                button(id="create-button" class="button" type="button") 
                    | CREATE AN ACCOUNT
                form(id="logup-form" class="form-group" action="/signup" method="post")
                    label(for="user")
                        | Please, select your username:
                    input(id="user" class="form-control" type="text" placeholder="Select your username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Select your username'" name="username")
                    label(for="pass")
                        | Please, choose a password:
                    input(id="pass" class="form-control" type="password" placeholder="Choose a password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Choose a password'" name="password")
                    button(class="button" type="submit")
                        | SIGN UP
            div(class="col-sm-6")
                h2(class="login-form-title")
                    | REGISTERED USER
                p(class="login-form-text")
                    | If you already have an account with us, please log in here!
                form(id="login-form" class="form-group" action="/login" method="post")
                    label(for="username")
                        | Username*
                    input(id="username" class="form-control" type="text" placeholder="Enter your username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your username'" name="username")
                    label(for="password")
                        | Password*
                    input(id="password" class="form-control" type="password" placeholder="Enter your password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your password'" name="password")
                    button(class="button" type="submit") 
                        | LOGIN
