extends shared/_master

block body
    div(id="login-page")
        div(class="row")
            div(class="col-sm-8")
                h2(id="form-title" class="form-title")
                    | Login Form
                form(id="login-form" class="form-group")  
                    input(class="form-control" type="text" placeholder="Enter Username")
                    input(class="form-control" type="Password" placeholder="Enter Password")
                    button(class="button" type="button") Login in
            div(class="col-sm-4")
