extends shared/_master
include shared/_aside

block body
    div(id="main-content" class="container")
        div(class="row")
            main(id="main-post" class="col-sm-8")
                div
                    if post.tags
                        p(id="tag-row")
                            | Tagged with: 
                            each tag in post.tags
                                span
                                    a(href="/" + tag)
                                        =tag + " "
                h1
                    =post.title
                a(href=post.url)
                    img(src=post.url)
                each paragraph in post.content
                    p
                        =paragraph
                div
                    p(id="bottom-row")
                        =post.date
                        span
                            ="Article by: " 
                            span(class="author")
                                a(href="/author/" + post.author)
                                    =post.author
            +aside(model)
