extends shared/_master
include shared/_aside

block body
    div(id="main-content" class="container")
        div(class="row")
            main(id="main-post" class="col-sm-8")
                h1
                    =post.title
                img(src=post.url)
                each paragraph in post.content
                    p
                        =paragraph
            +aside(model)
