#search:focus {
    outline: none;
    box-shadow: none;
}
div.aside-title {
    background-color: #F53F19;
    border-radius: 4px;
}
div.aside-title h2 {
    color: #FFFFFF;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    padding-top: 8px;
    padding-left: 6px;
    padding-bottom: 8px;
}
aside ul {
    list-style-type: none;
    padding-top: 6px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 12px;
    border: 1px solid #A9A9A9;
}
aside ul li {
    border-bottom: 1px dotted #000000;
}
div h3 a {
    color: #000000;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    transition: 0.8s all;
	  -webkit-transition: 0.8s all;
	  -moz-transition: 0.8s all;
	  -o-transition: 0.8s all;
}
div h3 a:link, div h3 a:visited {
    color: #000000;
    text-decoration: none;
}
div h3 a:hover {
    color: #F53F1A;
    text-decoration: none;
}
h3.category a {
    font-size: 20px;
}
div.grid-wrapper {
    display: table;
}
div.left-grid {
    display: table-cell;
    width: 40%;
    vertical-align: middle;
    padding-top: 4px;
    padding-bottom: 4px;
}
div.right-grid {
    display: table-cell;
    width: 60%;
    padding-left: 8px;
}
img.img-fluid {
    display: inline-block;
    height: auto;
    max-height: 100%;
    width: 100%;
}
