#main-body {
    background-color: #EFF0F3;
}

#head-section {
    width: 100%;
    background-color: #000000;
}

#head-section div div h1, #head-section div div h2 {
    margin-top: 20px;
    margin-bottom: 4px;
    color: #FFFFFF;
    text-align: center;
}

#search-form {
    margin-top: 20px;
    margin-bottom: 4px;
}