@font-face {
    font-family: cognitype;
    src: url('../fonts/cognitype/cognitype.otf')
}
#main-body {
    background-color: #DBDDE5;
}
main.no-container {
    margin: 0;
}

/* Editor page: */

#editor, #article-page {
    margin-top: 36px;
    margin-right: 60px;
    margin-bottom: 20px;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    background-color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#editor h1 {
    width: 80%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
}
#editor input, textarea {
    border-radius: 4px;
    border: 1px solid #000000;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
}
#title {
    display: block;
}
#title, form div {
    width: 80%;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
}
#file {
    display: none;
}
.button { 
  background-color: #26313B;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  padding: 8px 20px 6px 20px;
  transition: 1.6s all;
	-webkit-transition: 1.6s all;
	-moz-transition: 1.6s all;
	-o-transition: 1.6s all;
  text-decoration: none;
}
.button:hover {
  background: #F53F1A;
  text-decoration: none;
  cursor: pointer;
}
#category, #tags {
    margin-left: 24px;
}
textarea {
    display: block;
    width: 80%;
    height: 360px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
}

/* Articles page: */

#article-page h1 {
    width: 88%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
}
div.post-container {
    width: 88%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    border-bottom: 1px dashed #26313B;
}
h2.post-title a {
    color: #000000;
    transition: 1.6s all;
	-webkit-transition: 1.6s all;
	-moz-transition: 1.6s all;
	-o-transition: 1.6s all;
}
h2.post-title a:link, h2.post-title a:visited {
    color: #000000;
    text-decoration: none;
}
h2.post-title a:hover {
    color: #F53F1A;
    text-decoration: none;
}
p.post {
    text-align: justify;
}
img.post-img {
    margin: 4px;
    padding: 36px;
}
a.button {
    display: block;
    margin-top: 24px;
    margin-bottom: 12px;
    text-align: center;
}