footer {
    width: 72%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

footer p {
    font-family: cognitype;
    text-align: center;
}

/* On smaller screens: */

@media (max-width: 1000px) {
    footer {
        width: 80%;
    }
}
@media (max-width: 820px) {
    footer {
        width: 88%;
    }
}