@font-face {
    font-family: cognitype;
    src: url('../fonts/cognitype/cognitype.otf')
}
#main-body {
    background-color: #DFDFDF;
}
#main-content, #contact-page, #about-page {
    width: 72%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}
div.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
div.caption {
    width: 100%;
    bottom: .2rem;
    position: absolute;
}
div.caption h2 {
    color: #FFFFFF;
    font-size: 16px;
}
#about-page, #contact-page {
    border: 1px dotted #000000;
}
#about-page h2 {
    text-align: center;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#form-title {
    margin-left: 20px;
}
#contact-form input {
    width: 50%;
    margin-left: 20px;
    margin-bottom: 8px;
}
#contact-form textarea {
    width: 80%;
    margin-left: 20px;
}
h2.form-title {
    font-size: 18px;
    font-weight: bold;
}