@font-face {
    font-family: cognitype;
    src: url('../fonts/cognitype/cognitype.otf')
}
#main-body {
    background-color: #DFDFDF;
}
#main-content {
    width: 72%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}