@font-face {
    font-family: cognitype;
    src: url('../fonts/cognitype/cognitype.otf')
}
#main-body {
    background-color: #DFDFDF;
}
main {
    margin-bottom: 12px;
}
#main-content, #contact-page, #about-page, #login-page, #error-page {
    width: 76%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}
div.thumbnail {
    background-color: #DFDFDF;
    border: 0 none;
    border-radius: 8px;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 16px;
}
img.img-responsive {
    border-radius: 8px;
}
img.slide-img {
    height: 420px !important;
    width: 100%;
}
div.slide {
    display: none;
}
div.slide:first-child {
    display: block;
}
div.caption {
    width: 100%;
    height: 80px;
    bottom: .0rem;
    position: absolute;
    background: rgba(122, 132, 136, 0.4);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
div.caption h2 {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline;
    transition: 0.8s all;
	  -webkit-transition: 0.8s all;
	  -moz-transition: 0.8s all;
	  -o-transition: 0.8s all;
}
div.caption h2:hover {
    color: #F53F1A;
}
div.caption p {
    color: #FFFFFF;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 12px;
}
#right-col, #left-col {
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
}
#right-col {
    border-right: 1px solid #A9A9A9;
}
#left-col {
    border-left: 1px solid #A9A9A9;
}

/* Post page: */

#main-post, #main-category {
    border: 1px solid #A9A9A9;
}
#main-post h1, #category-header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
#main-post img {
    float: left;
    width: 60%;
    margin-right: 8px;
    margin-bottom: 4px;
}
#main-post p {
    text-align: justify;
}
#tag-row, #bottom-row {
    border-top: 1px dotted #000000;
    border-bottom: 1px dotted #000000;
    margin-top: 12px;
    margin-bottom: 8px;
    padding-top: 6px;
    padding-bottom: 4px;
}
#tag-row {
    color: #A9A9A9;
}
#tag-row span a {
    color: #000000;
    transition: 0.8s all;
	  -webkit-transition: 0.8s all;
	  -moz-transition: 0.8s all;
	  -o-transition: 0.8s all;
}
#tag-row span a:link, #tag-row span a:visited {
    text-decoration: none;
}
#tag-row span a:hover {
    color: #F53F1A;
    text-decoration: none;
}
#bottom-row span {
    padding-left: 20px;
    color: #000000;
}

/* Category page: */

#main-category div {
    margin-bottom: 24px;
}
#category-header {
    border-bottom: none !important;
}
#category-row {
    margin-right: 8px;
    margin-left: 8px;
    border-bottom: 1px dotted #000000;
}
#main-category div h2 a {
    color: #000000;
    transition: 0.8s all;
	  -webkit-transition: 0.8s all;
	  -moz-transition: 0.8s all;
	  -o-transition: 0.8s all;
}
#main-category div h2 a:link, #main-category div h2 a:visisted {
    color: #000000;
    text-decoration: none;
}
#main-category div h2 a:hover {
    color: #F53F1A;
    text-decoration: none;
}
#main-category div p {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 3.6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}
#main-category div p:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.main-category div p:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #DFDFDF;
}
img.cat-img {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    border: 1px solid #A9A9A9;
}

/* About page: */

#about-page, #contact-page {
    border: 1px dotted #000000;
}
#about-page h2 {
    text-align: center;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Contact page: */

#form-title {
    margin-left: 20px;
}
#contact-form input {
    width: 50%;
    margin-left: 20px;
    margin-bottom: 8px;
}
#contact-form textarea {
    width: 80%;
    margin-left: 20px;
}
#contact-form button {
    margin-top: 8px;
    margin-left: 20px;
}
h2.form-title, h2.login-form-title {
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Login page: */

#login-page, #error-page {
    border: 1px solid #A9A9A9;
}
p.login-form-text {
    margin-bottom: 40px;
}
#login-form input, #logup-form input {
    margin-bottom: 8px;
}
#login-form input:focus, #logup-form input:focus {
    outline: none;
    box-shadow: none;
}
label:nth-child(3) {
    margin-top: 20px;
}
#login-form {
    margin-left: 0;
}
#logup-form {
    display: none;
}
.button {
  background-color: #26313B;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  margin-top: 20px;
  padding: 8px 20px 6px 20px;
  transition: 0.8s all;
	-webkit-transition: 0.8s all;
	-moz-transition: 0.8s all;
	-o-transition: 0.8s all;
  text-decoration: none;
}
.button:hover {
  background: #F53F1A;
  text-decoration: none;
}

/* 401 and 404 pages: */

#error-page h1, #error-page p {
    text-align: center;
}
#error-page h1 {
    margin-top: 80px;
    margin-bottom: 20px;
}
#error-page a {
    display: block;
    text-align: center;
    width: 200px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}
#error-page a:link, #error-page a:visited {
    text-decoration: none;
}
#error-page a:hover {
    color: #FFFFFF;
}

/* On smaller screens: */

@media (max-width: 1140px) {
    #main-content, #contact-page, #about-page, #login-page, #error-page {
        width: 88%;
    }
    img.slide-img {
        height: 360px !important;
    }
}
@media (max-width: 920px) {
    #main-content, #contact-page, #about-page, #login-page, #error-page {
        width: 92%;
    }
    img.slide-img {
        height: 300px !important;
    }
}
@media (max-width: 820px) {
    #main-content, #contact-page, #about-page, #login-page, #error-page {
        width: 96%;
    }
}
@media (max-width: 780px) {
    #main-content, #contact-page, #about-page, #login-page, #error-page {
        width: 98%;
    }
    #main-page {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}



