#header {
    width: 72%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}
#right-header {
    background-color: #F53F19;
}
#logo {
    margin-top: 10px;
    font-family: cognitype;
    font-style: italic;
}
#navigation {
    width: 100%;
    margin-top: 10px;;
}
#navigation li {
    list-style-type: none;
    border-right: 1px solid #000000;
    text-align: center;
}
#navigation li.last {
    border-right: none;
}
#navigation li a {
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
}
#navigation li a:hover {
    color: #FFFFFF;
}
#navigation li a.home {
    color: #FFFFFF;
}
nav ul.cl-effect a::before, 
nav ul.cl-effect a::after {
    display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
nav ul.cl-effect a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
nav ul.cl-effect a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
nav ul.cl-effect a:hover::before,
nav ul.cl-effect a:hover::after,
nav ul.cl-effect a:focus::before,
nav.cl-effect a:focus::after {
	opacity: 1;
    color: #000080;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}